<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Beer test!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app-vue') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>Bienvenue !!</h1>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app-vue') }}
        {% endblock %}
    </body>
</html>
